<!-- templates/settings.html -->
{% extends "global/base.html" %}

{% block title %}Settings · DansHQ{% endblock %}

{% block content %}

<div class="d-flex gap-3 mt-5">

   <div class="col-12 bg-white p-3 rounded border">
        {% if role_info %}
            {% for role in role_info %}
            <h3>{{ role[1] }}</h3>
            <form action="{{ url_for('role', role_id=role[0]) }}" method='POST'>
                <p>Courses required</p>
                {% for course in courses %}
                <div class="mb-3">
                    <input 
                        type="checkbox" 
                        class="form-check-input" 
                        id="is_mandatory_{{ course[0] }}" 
                        name="is_mandatory_{{ course[0] }}" 
                        {% if course[0] in role_requirements | map(attribute=2) %} checked {% endif %}>
                    <label 
                        class="form-check-label" 
                        for="is_mandatory_{{ course[0] }}">{{ course[1] }}</label>
                </div>
                {% endfor %}
                <input type="hidden" id="role_id" name="role_id" value="{{ role_id }}">
                <button type="submit" class="btn btn-primary w-100 mb-3">Apply changes</button>
            </form>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">No role data available</td>
        </tr>
        {% endif %}

   </div>



</div>
{% endblock %}