<!-- templates/settings.html -->
{% extends "global/base.html" %}

{% block title %}Settings · DansHQ{% endblock %}

{% block content %}

<div class="d-flex gap-3 mt-5">
    <div class="col-3 px-3">
        <div class="row bg-white p-3 rounded border text-center mb-4">
            {% if role %}
                <i class="bi bi-people" style="font-size: 80px;"></i>
                <h5>{{ role["name"] }}</h5>
                {% if user.user_role != 'user' %}
                <button id="editUserBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserModal">
                    Edit role
                </button>
                {% endif %}
            {% else %}
                <p>No role data available</p>
            {% endif %}
        </div>
   </div>

   <div class="col-9 px-3">
        <div class="row bg-white p-3 rounded border mb-4">
            <h5>Personnel</h5>
            {% if role["personnel"] %}
                <table class="table table-hover table-sm table-responsive">

                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        {% for person in role["personnel"] %}
                            <tr>
                                <td>
                                    <i class="bi bi-circle-fill text-{{ person['status'] }} shadow-{{ person['status'] }}"></i>
                                </td>
                                <td>{{ person['name'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                {% else %}
                    <p>No personnel on this course.</p>
                {% endif %}
        </div>
        <div class="row bg-white p-3 rounded border mb-4">
            <h5>Courses</h5>
            {% if role["courses"] %}
                <table class="table table-hover table-sm table-responsive">

                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        {% for course in role["courses"] %}
                            <tr>
                                <td>
                                    <i class="bi bi-circle-fill text-{{ course['status'] }} shadow-{{ course['status'] }}"></i>
                                </td>
                                <td>{{ course['name'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
                {% else %}
                    <p>No personnel on this course.</p>
                {% endif %}
        </div> 
    </div>
</div>
{% endblock %}