<!-- templates/settings.html -->
{% extends "base.html" %}

{% block title %}{{ user_info[0][3] }} · DansHQ{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Show modal on button click
        const addTrainingBtn = document.getElementById('addTrainingBtn');
        if (addTrainingBtn) {
            addTrainingBtn.addEventListener('click', () => {
                const addTrainingModal = document.getElementById('addTrainingModal');
                if (addTrainingModal) {
                    new bootstrap.Modal(addTrainingModal).show();
                }
            });
        }

        // Role filtering
        const roleSelect = document.getElementById('roleSelect');
        if (roleSelect) {
            roleSelect.addEventListener('change', () => {
                const selectedRole = roleSelect.value;
                document.querySelectorAll('.role-card').forEach(card => {
                    card.style.display = (selectedRole === 'all' || card.getAttribute('data-role') === selectedRole) ? 'block' : 'none';
                });
            });
        }

        // Disable horizontal scrollbar
        document.documentElement.style.overflowX = 'hidden';
        document.body.style.overflowX = 'hidden';
    });
</script>
{% endblock %}

{% block content %}
<div class="d-flex gap-3 mt-5 w-100" style="width: 100vw;">

   <div class="col-3 px-3">
        <div class="row bg-white p-3 rounded border text-center mb-4">
            {% if user_info %}
                {% for row in user_info %}
                <i class="bi bi-person-circle" style="font-size: 80px;"></i>
                <h5>{{ user_info[0][3] }}</h5>
                <!-- <form action="{{ url_for('training_profile') }}" method='POST'>
                    <div class="mb-3 text-start">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{ row[1] }}">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ row[3] }}">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="phone" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{ row[4] }}">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="date_start" class="form-label">Date start</label>
                        <input type="date" class="form-control" id="date_start" name="date_start" value="{{ row[5] }}" maxlength="10">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="date_leave" class="form-label">Date leave</label>
                        <input type="date" class="form-control" id="date_leave" name="date_leave" value="{{ row[6] }}" maxlength="10">
                    </div> -->
                    {% for row in roles %}
                        <p class="rounded-pill bg-primary text-light">{{ row[1] }}</p>
                        <!-- <div class="mb-3">
                            <input 
                                type="checkbox" 
                                class="form-check-input" 
                                id="is_mandatory_{{ row[0] }}" 
                                name="is_mandatory_{{ row[0] }}" 
                                {% if row[0] in user_roles | map(attribute=0) %} checked {% endif %}>
                            <label 
                                class="form-check-label" 
                                for="is_mandatory_{{ row[0] }}">{{ row[1] }}</label>
                        </div> -->
                    {% endfor %}
                    <!-- <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                    {% if user.user_role != 'user' %}
                    <button type="submit" class="btn btn-primary w-100 mb-3">Update details</button>
                    {% endif %} -->
                </form>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">No user data available</td>
            </tr>
        {% endif %}
        </div>

        <div class="row bg-white p-3 rounded border mb-4">
            <h5>Personnel details</h5>
            {% if user_info %}
                {% for row in user_info %}
                    <h6>Email</h6>
                    <p>{{ row[1] }}</p>
                    <h6>Phone</h6>
                    <p>{{ row[4] }}</p>
                    <h6>Date start</h6>
                    <p>{{ row[5] }}</p>
                {% endfor %}
            {% else %}
                <p>No user data available</p>
            {% endif %}
        </div>
   </div>

   <div class="col-9 px-3">
        <div class="row bg-white p-3 rounded border mb-4">
            <select id="roleSelect" class="form-select w-100" onchange="filterRoles()">
                <option value="all">All roles</option>
                {% for role in result_data %}
                    <option value="{{ role['role_name'] }}">{{ role['role_name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="rolesContainer">
            {% for role in result_data %}
                <div class="row bg-white p-3 rounded border mb-4 role-card" data-role="{{ role['role_name'] }}">
        
                    <h5><i class="bi bi-circle-fill {{ 'text-success' if role['qualified'] else 'text-danger' }}"></i> {{ role['role_name'] }}</h5>
                    
                    {% if role['course_info'] %}
                    <table class="table">
        
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date attended</th>
                            <th scope="col">Date expires</th>
                            <th scope="col">Passed</th>
                          </tr>
                        </thead>
            
                        <tbody>
                            {% for course in role['course_info'] %}
                                <tr>
                                    <td>
                                        <i class="bi bi-circle-fill {% if course['course_status'] == True %}
                                                text-success
                                            {% elif course['course_status'] == 'Expiring Soon' %}
                                                text-warning
                                            {% else %}
                                                text-danger
                                            {% endif %}
                                        "></i>
                                    </td>
                                    <td>{{ course['course_name'] }}</td>
                                    <td>{{ course['course_desc'] }}</td>
                                    <td>{{ course['date_attended'] }}</td>
                                    <td>{{ course['date_expires'] }}</td>
                                    <td>{{ 'True' if course['passed'] else 'False' }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    {% else %}
                        <p>No required courses for this role, add some!</p>
                    {% endif %}
        
                </div>
            {% endfor %}
        </div>

        <div class="row bg-white p-3 rounded border mb-4">
            <nav class="navbar p-0 mb-3">
                <h5>Additional training</h5>
                <button class="btn btn-primary" id="addTrainingBtn"><i class="bi bi-plus-circle"></i> Add new training</button>
            </nav>

        </div>

   </div>

<!-- MODAL: Add New Training -->
<div class="modal fade" id="addTrainingModal" tabindex="-1" aria-labelledby="addTrainingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTrainingModalLabel">Add New Training</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action='training-register' method='POST'>
                    <div class="mb-3">
                        <label for="user_id" class="form-label">User</label>
                        <select id="user_id" name="user_id" class="form-control" required>
                            <option value="" disabled selected>Select a trainee</option>
                            {% if users %}
                                {% for row in users %}
                                    <option value="{{ row[0] }}">{{ row[3] }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">No course provider data available</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="training_id" class="form-label">Training course</label>
                        <select id="training_id" name="training_id" class="form-control" required>
                            <option value="" disabled selected>Select a training course</option>
                            {% if training_courses %}
                                {% for row in training_courses %}
                                    <option value="{{ row[0] }}">{{ row[1] }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="">No course data available</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="mb-3 text-start">
                        <label for="date_attended" class="form-label">Date attended</label>
                        <input type="date" class="form-control" id="date_attended" name="date_attended" required>
                    </div>

                    <div class="mb-3 text-start">
                        <label for="date_expires" class="form-label">Date expires</label>
                        <input type="date" class="form-control" id="date_expires" name="date_expires" required>
                    </div>

                    <div class="mb-3">
                        <input type="checkbox" class="form-check-input" id="passed" name="passed">
                        <label class="form-check-label" for="passed">Course passed</label>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}