<!-- templates/settings.html -->
{% extends "base.html" %}

{% block title %}{{ user_info[0][3] }} · DansHQ{% endblock %}

{% block content %}
<div class="d-flex gap-3 mt-5">

   <div class="col-4 px-3">
        <div class="row bg-white p-3 rounded border">
            {% if user_info %}
                {% for row in user_info %}
                <h5>{{ user_info[0][3] }}</h5>
                <form action="{{ url_for('training_profile') }}" method='POST'>
                    <div class="mb-3 text-start">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{ row[1] }}">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ row[3] }}">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="phone" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{ row[4] }}">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="date_start" class="form-label">Date start</label>
                        <input type="date" class="form-control" id="date_start" name="date_start" value="{{ row[5] }}" maxlength="10">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="date_leave" class="form-label">Date leave</label>
                        <input type="date" class="form-control" id="date_leave" name="date_leave" value="{{ row[6] }}" maxlength="10">
                    </div>
                    <p>Assign roles</p>
                    {% for row in roles %}
                        <div class="mb-3">
                            <input 
                                type="checkbox" 
                                class="form-check-input" 
                                id="is_mandatory_{{ row[0] }}" 
                                name="is_mandatory_{{ row[0] }}" 
                                {% if row[0] in user_roles | map(attribute=0) %} checked {% endif %}>
                            <label 
                                class="form-check-label" 
                                for="is_mandatory_{{ row[0] }}">{{ row[1] }}</label>
                        </div>
                    {% endfor %}
                    <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                    {% if user.user_role != 'user' %}
                    <button type="submit" class="btn btn-primary w-100 mb-3">Update details</button>
                    {% endif %}
                </form>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">No user data available</td>
            </tr>
        {% endif %}
        </div>
   </div>

   <div class="col-8 px-3">

        {% for role in result_data %}
        <div class="row bg-white p-3 rounded border mb-4">

            <h5><i class="bi bi-circle-fill {{ 'text-success' if role['qualified'] else 'text-danger' }}"></i> {{ role['role_name'] }}</h5>
            
            {% if role['course_info'] %}
            <table class="table">

                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date attended</th>
                    <th scope="col">Date expires</th>
                    <th scope="col">Passed</th>
                  </tr>
                </thead>
    
                <tbody>
                    {% for course in role['course_info'] %}
                        <tr>
                            <td>
                                <i class="bi bi-circle-fill {% if course['course_status'] == True %}
                                        text-success
                                    {% elif course['course_status'] == 'Expiring Soon' %}
                                        text-warning
                                    {% else %}
                                        text-danger
                                    {% endif %}
                                "></i>
                            </td>
                            <td>{{ course['course_name'] }}</td>
                            <td>{{ course['course_desc'] }}</td>
                            <td>{{ course['date_attended'] }}</td>
                            <td>{{ course['date_expires'] }}</td>
                            <td>{{ 'True' if course['passed'] else 'False' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            {% else %}
                <p>No required courses for this role, add some!</p>
            {% endif %}

        </div>
        {% endfor %}

   </div>



</div>
{% endblock %}